{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="description" content="Lokisalle - formulaire demande de réinitialisation du mot de passe" />
{% endblock %}

{% block title %}Le formulaire demande de réinitialisation du mot de passe{% endblock %}

{% block body %}

<h1 class="text-info">Mot de passe oublié ?</h1>
<p>Merci d'indiquez votre adresse email enregistré sur LOKISALLE pour réinitialiser votre mot de passe.</p>

{% if isEmailInvalid %}
 <p class="text-danger">Cet email n'est pas connu!</p>
{% endif %}

{% if isSuccessfullySubmited %}
 <p class="text-success">Un email de réinitialisation vous a été envoyé!</p>
 {% else %}
    <form method="post">
        <div class="input-group mb-3">
        <span class="input-group-text">Adresse Email * :</span>
        <input type="text" name="emailAddress" class="form-control" autofocus maxlength="30" size="30"/>
        <input classe="form-control btn-sm" type="submit" value="Envoyer"/>
        </div>
    </form> 
{% endif %}


{% endblock %}