{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="description" content="Lokisalle - les conditions générales de vente" />
{% endblock %}

{% block title %} CVG {% endblock %}

{% block body %}
    <h1 class="text-center">Les conditions générales de vente</h1>
    <p class="fst-italic text-danger">Lokisalle est une société imaginaire. Par conséquent, les produits et services proposés sur ce site sont fictifs, aucune commande passée ne sera honorée.

    Ce site est édité à titre personnel dans le cadre de ma formation de Développeur Intégrateur Web au sein du centre IFOCOP de Montigny-le-Bretonneux.</p>

    <h2>Art 1 – COMMANDES ET REALISATION DE SERVICES ET PRESTATIONS : </h2>
    <p class="text-justify">Les commandes de services ou de mise à disposition
    de lieux ou d'équipements sont fermes et définitives pour le client dès leur émission. 
    En cas d'annulation de commande de la part du client, une indemnité correspondant aux frais engagés par le centre sera au minimum facturée par Lokisalle.</p>
    <h2>Art 2 – RECLAMATION, RESPONSABILITE ET GARANTIE Lokisalle: </h2>
    <p class="text-justify">Lokisalle réalise l’ensemble de ses prestations dans le
    cadre d’une obligation de moyen. Le client ne saurait invoquer un retard de réalisation de Lokisalle pour annuler sa commande
    ou demander une indemnité quelconque. Lokisalle n'assure aucune garantie des dommages indirects subis par le client (ex.
    Perte d’activité, perte de gains, perte de données) résultant d'un défaut d'exécution du contrat et décline toute responsabilité
    en raison des dommages consécutifs à un sinistre dans les locaux, à une coupure temporaire d’électricité, d’eau ou des moyens de
    télécommunication (y compris la perte et la qualité de connectivité Internet) et à toutes nuisances liées aux travaux réalisés dans
    les lieux mis à disposition ou dans l’immeuble. Lokisalle ne pourra pas être tenu responsable pour les services fournis par des
    tiers prestataires (fournisseur d’accès internet, entreprise de transport, coursier, traiteur, La Poste ....) et décline toute
    responsabilité en cas d'intervention de tiers extérieurs chez Lokisalle directement sollicitée par le client pour laquelle il devra
    avoir obtenu préalablement l'autorisation expresse de Lokisalle.</p>
    <h2>Art 3 – OBLIGATIONS DU CLIENT : </h2>
    <p class="text-justify">Information et notification : Le client s’engage à : -communiquer le nom et l’adresse personnelle de son
     représentant légal, lequeldéclare accepter de recevoir à son domicile toute notification pour le compte de l’entreprise qu’il représente,
    - communiquer dans les 30 jours de la signature du contrat un extrait justifiant son inscription au Registre du Commerce et des
    sociétés ou au Registre des Métiers, -informer Lokisalle de toute modification concernant sa forme juridique, son objet, le nom
    et l’adresse des personnes ayant le pouvoir de l’engager,-à informer sans délai Lokisalle de tout état de cessation des paiements
    et de toute procédure collective le concernant</p>
    <p class="text-justify">Responsabilité et utilisation des biens et prestations : Le client assumera seul la responsabilité de son activité et des dommages
    que pourraient subir ou causer ses préposés, ses clients et autres visiteurs.
    Le client s’engage à faire une utilisation des services fournis par Lokisalle conforme aux bonnes mœurs, à la Loi et aux conditions
    commerciales proposées par le centre. Le client devra se conformer à la Charte d’Utilisation du Réseau Internet mise en place par
    Lokisalle. Le client s’interdit, pour ses affaires personnelles et sa correspondance, d’utiliser l’enseigne Lokisalle ainsi que le
    nom et le sigle de la société exploitant le centre, y compris dans le libellé de son adresse postale.
    Le client s’interdit de -proposer aux autres clients du centre Lokisalle des prestations concurrentes de celles offertes par le Centre
    Lokisalle, -de débaucher de quelque façon que ce soit l’un des membres du personnel du Centre Lokisalle, -de créer une
    activité concurrente, proposant un ou plusieurs services du centre Lokisalle, dans le département du centre concerné et dans
    un délai de deux ans à compter de l’expiration du contrat. </p>
    <h2>Art 4 – PAIEMENT : </h2>
    <p class="text-justify">Les prestations du Centre Lokisalle sont facturées par abonnement forfaitaire (ex. services de
    domiciliation, mise à disposition de bureaux, services d'accueil téléphonique, etc..) ou sur facturation ponctuelle. Le Client déclare
    s’obliger à s’acquitter du règlement des prestations réalisées par Lokisalle à l’échéance mentionnée sur la facture. Les services
    fournis sur abonnement sont payés d'avance et par prélèvement. Les autres prestations de services sont payées au plus tard le 15
    du mois suivant celui d'exécution des prestations. Toute demande d'explication ou toute contestation éventuelle de facture
    devra intervenir dans le mois de son émission, les justificatifs des prestations n'étant conservés que pendant ce délai. Tous les
    frais sur paiement étranger que ce soit par virement ou par chèque seront refacturés au client. Il en sera de même pour tous
    frais relevant d’un incident de paiement. Conformément à l'article L441-6 du code du commerce, en cas de retard de paiement
    (non-respect de l'échéance, rejet de prélèvement, chèque impayé, ...), Lokisalle appliquera des pénalités dont le taux
    correspond au taux de refinancement de la Banque centrale européenne (BCE) en vigueur majoré de 10 points ainsi qu’une
    indemnité forfaitaire pour frais de recouvrement de 40 €. Les prix des prestations par abonnement seront indexés
    automatiquement chaque année à la date anniversaire du contrat. Le coefficient d’indexation sera calculé de la manière suivante :
    20% de la variation de l’indice ILAT et 80% de la variation de l’Indice des prix de production des services français aux entreprises
    françaises (B to B). Les indices de référence servant de base au calcul de l’indexation seront celui du trimestre visé dans les
    conditions particulières du contrat de prestation de services, lequel sera comparé à celui du même trimestre de l’année suivante.
    Il en sera de même pour les indexations suivantes. Dans tous les cas, le coefficient d’indexation ne pourra être inférieur à 3%. Au
    cas où l’indexation deviendrait négative, le prix des prestations de base objet de cette indexation ne sera pas baissé et ce, pendant
    toute la période de la baisse de l’indexation. Au cas où l’un des indices précités viendrait à disparaître, ou serait remplacé, le nouvel
    indice applicable serait substitué de plein droit à l’ancien, dans les conditions et selon les coefficients de raccordement mentionnés
    par l’INSEE. En plus de cette indexation de prix, Lokisalle se réserve la faculté de répercuter à tout moment dans ses prix les
    conséquences des modifications éventuelles de la législation fiscale. En ce qui concerne les tarifs des prestations, ils sont
    disponibles à l'accueil du centre et remis au client sur simple demande.</p>
    <h2>Art 5 – INEXECUTION CONTRACTUELLE :</h2>
    <p class="text-justify">En cas d'inexécution par le client de l'une de ses obligations prévues aux présentes
    conditions générales de vente ou aux conditions spécifiques et notamment en cas de non règlement à l'échéance convenue
    des sommes dues au titre des abonnements ou factures de services, Lokisalle pourra :</p>
    <ul>
        <li class="text-justify pb-2">huit (8) jours après l'envoi par lettre recommandée avec avis de réception d'une mise en demeure restée infructueuse,
        suspendre l'exécution des commandes en cours et l'ouverture aux prestations (consommation téléphonique, accès internet, y
        compris le droit d’occupation d’un bureau équipé) et demander le règlement immédiat de toutes opérations en cours, le nonpaiement d'une facture 
        à son échéance entraînant l'exigibilité immédiate des sommes dues au titre d'autres opérations. </li>
        <li class="text-justify">quinze (15) jours après l’envoi par lettre recommandée avec accusé de réception de la mise en demeure de payer, d'exécuter
        ou de régulariser demeurée infructueuse : - résilier les contrats en cours, et notamment les abonnements de domiciliation ou
        de mise à disposition; - exiger le règlement par le client du montant total de l'abonnement ou de son prix jusqu'au terme fixé
        contractuellement (période initiale ou renouvelée) ; - conserver le dépôt de garantie versé au titre d'indemnité de résiliation
        forfaitaire. Le fait pour le centre Lokisalle de ne pas se prévaloir de l’une ou l’autre des dispositions du présent article, ne
        saurait en aucun cas être considéré comme une renonciation de sa part au bénéfice des présentes dispositions.</li>
    </ul>
    <h2>Art 6 – CAUTION : </h2>
    <p class="text-justify">Le client prend l’engagement d’être caution indéfinie et solidaire. La caution est tenue indéfiniment et
        solidairement, en renonçant au bénéfice de discussion défini à l’article 2298 du Code civil, des engagements contractuels pris
        par le client à l’égard du centre Lokisalle pour la durée du contrat définie par les conditions particulières du contrat de     
        prestation de services.</p>
    <h2>Art 7 – DÉPÔT DE GARANTIE :</h2>
    <p class="text-justify">En garantie de la bonne exécution de ses obligations, le Client verse, à titre de dépôt de garantie,
    une somme fixée dans les conditions particulières du contrat de prestation de services. Ce dépôt de garantie n'est pas productif
    d'intérêt. Il est restitué au client,sous réserve de la bonne exécution de ses obligations, deux mois après l'expiration des relations
    contractuelles en tenant compte des conditions spécifiques de chaque contrat de prestation de services. Le dépôt de garantie
    pourra notamment être conservé par Lokisalle :- proportionnellement en cas, à l’issue des relations contractuelles, d’avances
    sur consommation insuffisantes pour garantir les factures encore impayées ou en instance majorées des éventuels intérêts de
    retard dus ; - en totalité en cas de rupture du contrat, au titre de l’indemnité de résiliation prévue à l’article 5 des présentes
    conditions générales. Le dépôt de garantie ne saurait remplacer des avances sur consommation et n’a donc pas vocation à
    s’imputer sur le montant des dernières factures.</p>
    <h2>Art 8 – AVANCES SUR CONSOMMATION :</h2>
    <p class="text-justify">Au titre des prestations de services utilisées de façon régulière et de celles susceptibles
    de l'être de façon irrégulière, le client versera au Centre Lokisalle une avance sur consommation. Le client reconnaît être
    parfaitement informé que pour obtenir une ou des prestations quelconques de caractère régulier ou irrégulier, il lui faut disposer
    de façon préalable dans les livres du Centre Lokisalle d'un crédit suffisant.</p>
    <h2>Art 9 – TERME DU CONTRAT :</h2>
    <p class="text-justify">Le client ou le Centre Lokisalle ont la faculté de mettre fin au contrat au terme de la période
    contractuelle prévue au contrat, en dénonçant celui-ci par lettre recommandée avec accusé de réception dans le cadre du délai
    de préavis accepté par les parties et défini aux conditions particulières. A défaut de dénonciation dans le respect de ces modalités,
    le contrat sera renouvelé par tacite reconduction pour une nouvelle période contractuelle définie au contrat. Le contrat étant
    un contrat conclu pour une durée déterminée ferme et irrévocable, toute résiliation du contrat par le client qui ne coïnciderait
    pas avec la fin d'une période contractuelle entraînerait l'exigibilité des sommes dues au Centre Lokisalle jusqu'au terme
    contractuellement défini de ladite période et la conservation du dépôt de garantie à titre d'indemnité de résiliation.</p>
    <h2>Art 10 – INTERDICTION DE CESSION :</h2>
    <p class="text-justify">À aucun moment, ni à aucun titre, le client ne peut céder à un tiers, personne physique ou
    morale, les droits qu'il détient des contrats consentis par le centre Lokisalle.</p>
    <h2>Art 11 – COMPÉTENCE :</h2>
    <p>Tout litige quant à l'interprétation, l'exécution ou la résiliation des présentes sera soumis à la
    compétence exclusive du Tribunal de Commerce du lieu où est exploité le centre Lokisalle.</p>
    <h2>Art 12 – ÉLECTION DE DOMICILE :</h2>
    <p class="text-justify">Pour l'exécution des présentes, les parties font élection de domicile :- pour Lokisalle dans
    les locaux du Centre Lokisalle ; - pour le Client en son siège social, pour la Caution en son domicile.
    </p>
    <h2>Art 13 – LOI INFORMATIQUE ET LIBERTÉ :</h2>
    <p class="text-justify">Conformément à la loi n°78-17 du 6 janvier 1978, Lokisalle rappelle qu'il appartient
    au bénéficiaire et responsable du traitement de déclarer auprès de la commission nationale de l'informatique et des libertés,
    préalablement à l'exécution de la prestation, les traitements automatisés d'informations nominatives. Lokisalle décline ainsi
    toute responsabilité en cas de non-respect par le bénéficiaire des dispositions précitées. Lokisalle pourra être amené à utiliser
    des données informatiques confiées par son client. Le Lokisalle, traitant éventuellement des données à caractère personnel
    pour le compte de son client responsable du traitement, aura qualité de sous-traitant, à ce seul titre : - Lokisalle conduira sa
    prestation sous instructions réelles de son client seul responsable du traitement ; - Lokisalle prendra les mesures de sécurité
    et de confidentialité nécessaires à la mise en œuvre de sa prestation ; - Lokisalle veillera au bon respect de la procédure de
    traitement.</p>

{% endblock %}

