{% extends 'base.html.twig' %}
{% block meta %}
  <meta name="description" content="Lokisalle - Site de réservation salles de réunion en France" />
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Je suis la page d'accueil</h1>
{% endblock %}
