{% extends 'base.html.twig' %}
{% block meta %}
  <meta name="description" content="Lokisalle - les mentions légales" />
{% endblock %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Les Mentions légales</h1>
<p class="text-justify text-danger">
        "www.lokisalle.mlcreation.fr est un site web factice mis en ligne dans le
        cadre d'un projet d'étude. Il s'inscrit dans le cursus d'une formation
        de Développeur et intégrateur Web 2020. Toute la suite du texte et le
        site en globalité est factice."
      </p>
<p><b>Raison sociale :</b>LOKISALLE<br>
<b>Type de structure : </b>SARL<br>
<b>Adresse :</b> 1 Rue Boswellia, 75000 Paris, France <br>
<b>Mission :</b> La société est spécialisée dans la location de salle pour l’organisation de
réunion par les entreprises ou les particuliers. <br>
 <b>Périmètre géographique de l’activité :</b> La société dispose de salles dans toute la France et
plus précisément à Paris, Lyon et Marseille.</p>

{% endblock %}