{% extends 'base.html.twig' %}
{% block meta %}
  <meta name="description" content="Lokisalle - liste des salles" />
{% endblock %}

{% block title %}
 liste des salles
{% endblock %}

{% block headScripts %}
    <script src="/js/lokisalle_room.js"></script>
{% endblock %}

{% block body %}

<div class="row">
    {% for room in rooms %}    
        <div class="card mb-3 col-md-4 offset-md-1">
            <h3 class="card-header">
                {{room.title}}
            </h3>
            <div class="card-body">
                <h5 class="card-title">
                Special title treatment
                </h5>
                <h6 class="card-subtitle text-muted">
                Support card subtitle
                </h6>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                class="d-block user-select-none"
                width="100%"
                height="200"
                aria-label="Placeholder: Image cap"
                focusable="false"
                role="img"
                preserveAspectRatio="xMidYMid slice"
                viewBox="0 0 318 180"
                style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">
                Image cap
                </text>
            </svg>
            <div class="card-body">
                <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="{{path('room_show',{'id': room.id})}}" class="card-link">Afficher la salle</a>
                <a href="{{path('room_edit',{'id': room.id})}}" class="card-link">Modifier la salle</a>
                <button data-toggle="modal" data-target="#modal_simple" class="btn btn-danger js-btn-delete-room" value="{{room.id}}" type="button">  Supprimer  </button>
                
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    {% endfor %}    
  </div>
    <!-- Modal en cas de suppression d une salle -->
  <div id="modal_simple" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Etes-vous sûr de vouloir supprimer ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Si vous supprimez la salle, vous risquez de tout supprimer aussi : les produits, les avis,... associés à cette salle!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <a href="#" class="btn btn-danger js-confirm-suppression">Confirmer la suppression</a>
      </div>
    </div>
  </div> <!-- modal-bialog .// -->
</div> <!-- modal.// -->

{% endblock %}
