{% extends 'base.html.twig' %}
{% block meta %}
  <meta name="description" content="Lokisalle - liste des salles" />
{% endblock %}

{% block title %}
  super titre
{% endblock %}

{% block body %}
      <h1>{{room.title}} </h1>
      <p>{{room.description}}
      </p>

{% endblock %}